.content{
    padding: 60px 5px;
}
.basic.label{
  margin: 2px 1px;
}

.sv .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.sv:hover .tooltiptext {
    visibility: visible;
}

@media(max-width:550px){
  .nav-menu-search>input{ 
      transition: all 1s linear;
      width: 50px;
  }
  .nav-menu-search:hover>input{
      width:145px;
  }
}

.popup{
  background:#ccc;
}

.std-border-margin{
  padding: 10px 15px !important; 
  margin: 10px 0px !important;    
}

    

#rSign{
width: 30px;
height: 30px;
position: fixed;
bottom:10px;
color: #333;
left: 30px;
border: 1px #333 solid;
border-radius: 30px;
transition: all linear .2s;
text-align: center;
line-height: 28px;
font-weight:bolder;
}


#revR{
width: 30px;
height: 30px;
position: fixed;
bottom:10px;
border-radius: 30px;
left: 33px;
content:'';
z-index:-1;
color: transparent;
border-color:#333;
transition: width linear .1s, color linear .2s, border-color linear .2s;
}

#rSign:hover~#revR{
background-color: #fafafa;
color:#222;
text-align: center;
padding-left: 18px;
font-weight: bold;
width: 200px;
border: 1px #222 solid;
border-style: solid solid solid none;
line-height: 28px;
z-index:1;
}

#revR:after{
display:none;
}
#rSign:hover~#revR:after{ 
display:block;
content:'tanzil.rakib@gmail.com';
}

#rSign:after{
content:'R';
}

#rSign:hover,
#rSign:active{
  background-color: #fafafa;
  color:#222;
  border-color:#222;
  -webkit-transform: rotate(720deg);
  transform: rotate(720deg);
  z-index:2;
}
